<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ms_square.debugoverlay">

    <!-- To overlay view above all the application UIs -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- Required for foreground services on Android 14+ -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application>
        <service
            android:name=".DebugOverlayService"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="@string/debugoverlay_foreground_service_justification"/>
        </service>
    </application>

</manifest>
